p {
      font-family:Arial;
    }

h1 {
  color:maroon;
}

.title {
  color:teal;
}

.uppercase{
  text-transform:uppercase;
}

.publish-time {
  color:gray;
}

.cursive {
  font-family:cursive;
}

.capitalize {
  text-transform:capitalize;
}

h2.destination {
  font-family:cursive;
}

.description h5 {
  color:teal;
}

h5 {
  color: rebeccapurple !important;
}

/* Important flag !important should be used if element appears the same way 100% */
/* Important flag more specific than ID and overrides any style regardless of specificity degree */

/* Apply flag to specific attributes */
/* Advised to avoid using, developer should make code more flexible to make code maintainable in the future */
